<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel="stylesheet" type="text/css" href="/adminhome.css"></link>
</head>
<body>
	<div class="container">
		<div class="box2">
			<p>
				<b>Admin Home Page</b>
			</p>
			<br>
			<form class="admin" action="newsong">
				<button class="large-button" style="background-color: aqua; color: black;"><b>ADD NEW SONGS</b></button>
			</form>
			<br>
			<form class="admin" action="viewsong">
				<button class="large-button" style="background-color: aqua; color: black;"><b>VIEW SONGS</b></button>
			</form>
			<br>
			<form class="admin" action="createplaylists">
				<button class="large-button" style="background-color: aqua; color: black;"><b>CREATE PLAYLIST</b></button>
			</form>
				<br>
			<form class="admin" action="viewplaylists">
				<button class="large-button" style="background-color: aqua; color: black;"><b>VIEW PLAYLIST</b></button>
			</form>
		</div>
	</div>
</body>
</html>