<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/login.css"></link>
</head>
<body>
	<div class="container2">
		<div class="box2">
			<form action="validate" method="post">
				<h2>User login:</h2>
				<label>email :</label><br>
				<input  class="input" type="email" name="email"><br><br> 
				<label>Password :</label><br>
				<input class="input" type="password" name="password"><br><br>
				<label >Role :</label> 
				Admin<input type="radio" name="role" value="admin" >
				Customer<input type="radio" name="role" value="customer"><br><br>
				<div class="button">
				<input class="large-button" type="submit" value="SUBMIT">
				</div>
			</form>
		</div>
	</div>
</body>
</html>