<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADD SONG</title>
<link rel="stylesheet" type="text/css" href="/newsong.css"></link>
</head>
<body>
	<div class="container">
		<div class="box">
			<form action="addsong" method="post">
				<label>Song name:</label><br> <input class="input" type="text"
					name="name"><br>
				<br> <label>Song Artist:</label><br> <input class="input"
					type="text" name="artist"><br>
				<br> <label>Song Genre:</label><br> <input class="input"
					type="text" name="genre"><br>
				<br> <label>Song Link:</label><br> <input class="input"
					type="text" name="link"><br>
				<br>
				<div class="button">
					<button class="large-button"
						style="background-color: aqua; color: black;">
						<b>ADD SONG</b>
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>